.menu {
  width: 80px;
  margin-top: 132px;
}

.menu div {
  position: relative;
}

.menu svg {
  width: 100%;
  font-size: 36px;
  color: rgb(138, 220, 15);
  padding: 8px 0;
  transition: 0.3s;
  cursor: pointer;
}

.menu svg:hover {
  transform: scale(1.3);
}

.menu .text {
  color: black;
  text-align: left;
  position: absolute;

  top: -5px;
  font-size: 16px;
}

.menu .text-show {
  opacity: 1;
  width: 110px;
  margin-left: 75px;
  padding: 6px 16px;
  font-weight: 600;
  border-radius: 6px;
  transition: opacity 1.8s ease;
  background-color: rgb(173, 255, 47, 0.8);
  cursor: pointer;
}

.menu a:hover + .text-hover {
  opacity: 1;
  margin-left: 85px;
  padding: 2px 10px;
  border-radius: 0 100px 100px 125px;
  font-weight: 500;
  transition: opacity 0.2s;
  border: 2px solid green;
  background-color: greenyellow;
}

.menu .text-show:hover {
  transform: scale(1.1);
}

.menu .text-hover {
  opacity: 0;
}
