.card-register{
    width: 94%;
    height: 60px;
    background-color: green;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;
    padding: 6px 3% 0 3%;
    transition: 0.3s;
    cursor: pointer;
}

.card-register:hover{
    transform: scale(1.03);
}

.card-register h1{
    font-size: 18px;
    color: greenyellow;
    padding-bottom: 1px;
    margin: 0px;
}

.card-register .card-quantify{
    font-size: 16px;
    color: greenyellow;
    margin: 0;
}